<div>
    <button><a href="/login">iniciar sesion</a></button>
    <button><a href="/register">registrarse</a></button>
    <h2>Lista de Productos</h2>
    <button><a href="http://localhost:8080/cart/64751796ba779febe906b108">ir al carrito(Ejemplo id:64751796ba779febe906b108)</a></button>
    <div class="row mt-4" id="products">
        
    </div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
<script src="/js/product.js"></script>
