<div>
    <h1>Login</h1>

    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br>

        <label>Contraseña</label>
        <input type="password" name="password">
        <br>

        <input type="submit">
    </form>
        
</div>
    <br>
    <a href="/restorePassword"><button>olvide mi Contraseña</button></a>
    <br>
    <p>Ingresar con GitHub:</p>
    <a href="api/sessions/github"><button>GitHub</button></a>
    <br>
    <br>
    <a href="/register"><button>registrarse</button></a>

<script src="/js/login.js"></script>