<div>
    <h1>restablesca su Contraseña</h1>

    <form id="restoreForm">
        <label>Correo para reestablecer</label>
        <input type="text" name="email">

        <label>Nueva Contraseña</label>
        <input name="password">

        <input type="submit">
    </form>
</div>

<script src="/js/restorePassword.js"></script>